
{% if template == 'product' %}
    <script src="assests/config.js"></script>

    <div class="bundle_main" date_area="{{ product.id }}">
        <img class="sectionloader" src="https://cdn.shopify.com/s/files/1/0619/3784/4303/files/Animation_-_1744185329762.gif?v=1744185431"/>
    
    </div>
    {%endif%}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    </script>
    {% schema %}
    {
    "name": "Bundle",
    "target": "section",
     "stylesheet": "bundle.css",
    "javascript": "bundle.js",
    "enabled_on": {
          "templates": ["product"]
        },
    "settings": []
    }
    {% endschema %}