@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
span {
    font-family: "Poppins", sans-serif;
    ;
}

.dropdown {
    width: 100%;
    font-weight: 300;
}

.dropdown__switch {
    position: absolute;
    visibility: hidden;
}

.dropdown__options-filter2 {
    width: 100%;
    font-weight: 300;
}

.dropdown__switch2 {
    position: absolute;
    visibility: hidden;
}
.dropdown__switch:checked+.dropdown__options-filter .dropdown__select {
    transform: scaleY(1);
    opacity: 1;
}

.dropdown__options-filter {
    width: 100%;
    cursor: pointer;
}
.dropdown__switch2:checked+.dropdown__options-filter2 .dropdown__select2 {
    transform: scaleY(1);
    opacity: 1;
}

.dropdown__options-filter2 {
    width: 100%;
    cursor: pointer;
}


.dropdown__filter, .dropdown__filter2 {
    position: relative;
    display: flex;
    padding: 10px 16px;
    color: #7A7A7A;
    background-color: #EAEAEA;
    border-radius: 15px;
    font-size: 14px;
    transition: 0.3s;
    font-family: Nunito Sans;
    font-weight: 600;
    line-height: 24px;
}
.dropdown__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    padding: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}
.dropdown__select-option {

background-color: #EAEAEA;
transition: 0.3s;
color:#000;
}
.dropdown__select2 {
position: absolute;
top: 100%;
left: 0;
width: 100%;
margin-top: 0px;
overflow: hidden;
transform: scaleY(0);
transform-origin: top;
padding: 0;
opacity: 0;
transition: 0.2s ease-in-out;
border-radius: 10px;
}

.dropdown__select-option2 {
color:#000;
background-color: #EAEAEA;
transition: 0.3s;
}

.bundle_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading_bundle {

    display: flex;
    justify-content: center;
}

.heading_bundle {
    display: flex;
    justify-content: center;
}

.bundle_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
.subheading_bundle p {
    border: 1px solid black;
    padding: 1px 20px;
    border-radius: 30px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 32.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
}
.total_csrt {
display: flex;
justify-content: center;
font-weight: 600;
}

.total_csrt span {
    font-family: Nunito Sans;
    font-size: 15.77px;
    font-weight: 600;
    line-height: 21.03px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7A7A7A;
}

.bundle_price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.bundle_price .pro_price.linethoorgh {
text-decoration: line-through;
text-decoration-color: red;
}

.product_mainc img {
    height: 100%;
    border-radius: 30px;
    width: 100%;
}
.bundle_main .product_block {
    width: 100%;
}
.bucket_add_cart_btn {
    background: #261E27;
    color: #fff;
    text-align: center;
    padding: 11px;
    border-radius: 14px;
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 42px;
    box-shadow: 0px 30.7px 61.4px 0px #00000026;
}
.bucket_add_cart_btn + p {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.bucket_add_cart_btn {
background: #000;
color: #fff;
justify-content: center;
text-align: center;
padding: 11px;
font-size: 16px;
border-radius: 14px;
}

.bucket_add_cart_btn + p {
text-align: center;
}

.bundle_child {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dropdown__options-filter2 ul.dropdown__filter2, .dropdown__options-filter ul.dropdown__filter {
    list-style: none;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.bundleplus {
padding-top: 50px;
}
.save_block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    border-radius: 6px;
    font-size: 14px;
}
.bucket_add_cart_btn a {
cursor: pointer;
}

@media (max-width:767px){
    .bundle_main {
        padding: 4rem;
        flex-direction: column;
        gap: 10px;
    }
    .heading_bundle h2 {
        font-size: 22px;
        line-height: 34px;
        margin: 0px 0px 20px;
    }
    .subheading_bundle p {
        padding: 1px 16px;
        font-size: 13px;
        font-weight: 400;
        line-height: 26.76px;
    }
    .bucket_add_cart_btn {
        font-size: 18px;
        line-height: 34px;
    }
    .product_mainc img {
        height: 13rem;
        border-radius: 17px;
    }
    .dropdown__filter, .dropdown__filter2 {
        padding: 5px 8px;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 600;
        line-height: 20px;
    }
    .dropdown__filter-selected::after, .dropdown__filter-selected2::after {
        width: 10px;
        height: 10px;
    }
    .bundleplus {
        padding: 0px;
        position: relative;
        top: -20px;
    }
    .bundle_main {
        padding: 4rem;
        border-radius: 40px;
    }
}